* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url("../stary_background.png");
}

main {
  margin: 20px auto;
  padding: 10px;
  background-color: beige;
  border: 1px solid grey;
  border-radius: 8px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.7);
}

.header {
  margin: 50px auto;
  text-align: center;
}

#root {
  width: 50%;
}

@media screen and (max-width: 992px) {
  #root {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  #root {
    width: 100%;
  }
}

/*
desktop: 1440 x 810
tablet: 768 x 1024
mobile: 320 x 568
*/